<div class="cardContainer">
    <div class="travelCard">
        <h2>Sudáfrica</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, maxime libero perferendis facere odit cumque facilis minima voluptatibus, eos obcaecati, dolorem quisquam omnis a? Ipsa, eius architecto. Quasi, laudantium rerum!</p>
    </div>
    <div class="travelCard">
        <h2>Sudáfrica</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, maxime libero perferendis facere odit cumque facilis minima voluptatibus, eos obcaecati, dolorem quisquam omnis a? Ipsa, eius architecto. Quasi, laudantium rerum!</p>
    </div>
    <div class="travelCard">
        <h2>Sudáfrica</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, maxime libero perferendis facere odit cumque facilis minima voluptatibus, eos obcaecati, dolorem quisquam omnis a? Ipsa, eius architecto. Quasi, laudantium rerum!</p>
    </div>
    <div class="travelCard">
        <h2>Sudáfrica</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, maxime libero perferendis facere odit cumque facilis minima voluptatibus, eos obcaecati, dolorem quisquam omnis a? Ipsa, eius architecto. Quasi, laudantium rerum!</p>
    </div>
    <div class="travelCard">
        <h2>Sudáfrica</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, maxime libero perferendis facere odit cumque facilis minima voluptatibus, eos obcaecati, dolorem quisquam omnis a? Ipsa, eius architecto. Quasi, laudantium rerum!</p>
    </div>
    <div class="travelCard">
        <h2>Sudáfrica</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, maxime libero perferendis facere odit cumque facilis minima voluptatibus, eos obcaecati, dolorem quisquam omnis a? Ipsa, eius architecto. Quasi, laudantium rerum!</p>
    </div>
    <div class="travelCard">
        <h2>Sudáfrica</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, maxime libero perferendis facere odit cumque facilis minima voluptatibus, eos obcaecati, dolorem quisquam omnis a? Ipsa, eius architecto. Quasi, laudantium rerum!</p>
    </div>
    <div class="travelCard">
        <h2>Sudáfrica</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, maxime libero perferendis facere odit cumque facilis minima voluptatibus, eos obcaecati, dolorem quisquam omnis a? Ipsa, eius architecto. Quasi, laudantium rerum!</p>
    </div>
</div>